.container {
    background-color: rgb(43, 165, 165);
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
}

.container > * {
    background-color: brown;
    border: 1px solid;
    box-sizing: border-box;
}