.container {
    background-color: rgb(43, 165, 165);
    width: 960px;
    height: 960px;
    display: flex;
}

.container > * {
    background-color: brown;
    height: 20px;
    width: 20px;
    border: 1px solid;
}